@{
    ViewBag.Title = "List of Movies";
}

<!--Page that lists movies which have been entered via the form on the AddMovies.cshtml page-->

@model IEnumerable<Movies.Models.AddMovie>;

<div class="masthead container d-flex align-items-center flex-column">

    <h2>Check out some fire movies!</h2>

    <table>
        <thead>
            <tr><th>Category</th><th>Title</th><th>Year</th><th>Director</th><th>Rating</th><th>Edited</th><th>Lent To</th><th>Notes</th></tr>
        </thead>

        <tbody>
            @foreach (Movies.Models.AddMovie x in Model)
            {
                <tr>
                    <td>@x.Category</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>
                </tr>
            }
        </tbody>


    </table>

</div>

